@charset "UTF-8";
.fw-500 {
  font-weight: 500; }

.h-100 {
  height: 100% !important; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.align-items-start {
  -ms-flex-align: start;
  align-items: flex-start; }

.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end; }

.align-items-center {
  -ms-flex-align: center;
  align-items: center; }

.align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.align-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.align-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.align-self-auto {
  -ms-flex-item-align: auto;
  align-self: auto; }

.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center; }

.align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  -ms-flex-order: -1;
  order: -1; }

.order-last {
  -ms-flex-order: 13;
  order: 13; }

.order-0 {
  -ms-flex-order: 0;
  order: 0; }

.order-1 {
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -ms-flex-order: 2;
  order: 2; }

.order-3 {
  -ms-flex-order: 3;
  order: 3; }

.order-4 {
  -ms-flex-order: 4;
  order: 4; }

.order-5 {
  -ms-flex-order: 5;
  order: 5; }

.order-6 {
  -ms-flex-order: 6;
  order: 6; }

.order-7 {
  -ms-flex-order: 7;
  order: 7; }

.order-8 {
  -ms-flex-order: 8;
  order: 8; }

.order-9 {
  -ms-flex-order: 9;
  order: 9; }

.order-10 {
  -ms-flex-order: 10;
  order: 10; }

.order-11 {
  -ms-flex-order: 11;
  order: 11; }

.order-12 {
  -ms-flex-order: 12;
  order: 12; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-sm-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12; } }
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-md-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-md-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-md-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-md-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-md-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-md-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-md-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-md-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-md-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-md-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-md-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-md-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-md-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-md-12 {
    -ms-flex-order: 12;
    order: 12; } }
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-lg-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12; } }
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-xl-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.333333%; }

  .offset-xl-2 {
    margin-left: 16.666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.333333%; }

  .offset-xl-5 {
    margin-left: 41.666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.333333%; }

  .offset-xl-8 {
    margin-left: 66.666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.333333%; }

  .offset-xl-11 {
    margin-left: 91.666667%; } }
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.ml-4, .mx-4 {
  margin-left: 1.5rem !important; }

.d-mobile {
  display: none !important; }

.position-relative {
  position: relative; }

@media only screen and (max-width: 667px) {
  .d-desktop {
    display: none !important; }

  .d-mobile {
    display: block !important; }

  .ml-4, .mx-4 {
    margin-left: 0 !important; } }
html, body {
  height: 100%;
  font-size: 1rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

body {
  background-color: #F9F9F9; }

.b-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.b-content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.container-page {
  width: 100%;
  max-width: 1332px;
  padding: 0 26px;
  margin: 0 auto; }

.b-inner {
  width: 100%;
  max-width: 1064px;
  padding: 0;
  margin: 0 auto; }

@media only screen and (max-width: 667px) {
  .container-page {
    padding: 0; } }
.header {
  background: #002239;
  height: 80px; }

@font-face {
  font-family: 'znaimesta';
  src: url("../fonts/znaimesta/znaimesta.eot?rpenct");
  src: url("../fonts/znaimesta/znaimesta.eot?rpenct#iefix") format("embedded-opentype"), url("../fonts/znaimesta/znaimesta.ttf?rpenct") format("truetype"), url("../fonts/znaimesta/znaimesta.woff?rpenct") format("woff");
  font-weight: normal;
  font-style: normal; }
@media all and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'znaimesta';
    src: url("../fonts/znaimesta/znaimesta.svg?rpenct#znaimesta") format("svg");
    font-weight: normal;
    font-style: normal; } }
.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'znaimesta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-photo:before {
  content: ""; }

.ic-star:before {
  content: ""; }

.ic-vk:before {
  content: ""; }

.ic-facebook:before {
  content: ""; }

.ic-instagram:before {
  content: ""; }

.ic-add-image:before {
  content: ""; }

.ic-message:before {
  content: ""; }

.ic-clock-tilted:before {
  content: ""; }

.ic-marker-map:before {
  content: ""; }

.ic-article:before {
  content: ""; }

.ic-plus-light:before {
  content: ""; }

.ic-plus-solid:before {
  content: ""; }

.ic-image:before {
  content: ""; }

.ic-company:before {
  content: ""; }

.ic-landmark:before {
  content: ""; }

.ic-like:before {
  content: ""; }

.ic-more:before {
  content: ""; }

.ic-eye:before {
  content: ""; }

.ic-comment:before {
  content: ""; }

.ic-marker-to-map:before {
  content: ""; }

.ic-x-light:before {
  content: ""; }

.ic-envelope:before {
  content: ""; }

.ic-phone:before {
  content: ""; }

.ic-clock:before {
  content: ""; }

.ic-route:before {
  content: ""; }

.ic-exit:before {
  content: ""; }

.ic-arrow:before {
  content: ""; }

.ic-site:before {
  content: ""; }

.ic-bookmakr-solid:before {
  content: ""; }

.ic-bookmakr-light:before {
  content: ""; }

.ic-share:before {
  content: ""; }

.ic-pane-regular:before {
  content: ""; }

.ic-x-solid:before {
  content: ""; }

.ic-pane-solid:before {
  content: ""; }

.ic-bike:before {
  content: ""; }

.ic-menu:before {
  content: ""; }

.ic-search:before {
  content: ""; }

.ic-arrow-send:before {
  content: ""; }

.ic-done:before {
  content: ""; }

.ic-user:before {
  content: ""; }

.b-main {
  padding-top: 260px;
  position: relative; }
  .b-main--poster {
    height: 356px;
    width: 100%;
    background-image: url(../images/img-2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: absolute;
    left: 0;
    top: 0; }

.b-card-profile {
  position: relative;
  margin-bottom: 36px; }
  .b-card-profile--social {
    position: absolute;
    background: #F5F5F5;
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    border-radius: 8px 8px 0 0;
    left: 0;
    top: -38px;
    height: 68px;
    padding: 10px 35px; }
    .b-card-profile--social .ic-vk {
      font-size: 0.9375rem; }
    .b-card-profile--social .ic-facebook {
      font-size: 1.125rem; }
    .b-card-profile--social .ic-instagram {
      font-size: 1.25rem; }
    .b-card-profile--social i {
      color: #A3A3A3; }
    .b-card-profile--social a i {
      color: #2F80ED; }
  .b-card-profile--edit {
    position: absolute;
    left: 207px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    top: -38px;
    padding: 0 15px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 14px;
    color: #FFFFFF;
    transition: .25s ease-out;
    cursor: pointer; }
    .b-card-profile--edit i {
      margin-right: 5px;
      font-size: 1rem; }
    .b-card-profile--edit:hover {
      background: rgba(0, 0, 0, 0.55); }
  .b-card-profile .droptrigger {
    cursor: pointer; }
  .b-card-profile .dropcontent {
    visibility: hidden;
    box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
    border-radius: 8px;
    border-color: #ffffff;
    background-color: #ffffff;
    margin-top: 5px;
    padding: 5px 22px 7px;
    width: 172px;
    position: absolute;
    right: 0;
    z-index: 20; }
    .b-card-profile .dropcontent li {
      padding: 8px 0 5px;
      display: inline-flex;
      align-items: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: normal;
      line-height: 16px; }
      .b-card-profile .dropcontent li:first-child {
        border-bottom: 1px solid #E6E6E6; }
      .b-card-profile .dropcontent li a {
        color: #404040; }
      .b-card-profile .dropcontent li span {
        color: #A3A3A3; }
    .b-card-profile .dropcontent.open {
      visibility: visible; }
  .b-card-profile--info {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 12px;
    position: relative;
    min-height: 235px;
    padding: 16px 46px;
    z-index: 1; }
  .b-card-profile--subscribe {
    position: absolute;
    cursor: pointer;
    background: #FCBC17;
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    border-radius: 8px 8px 0 0;
    top: -38px;
    height: 56px;
    right: 0;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out;
    z-index: 0;
    width: 179px;
    text-align: center; }
    .b-card-profile--subscribe:hover {
      opacity: .9; }
  .b-card-profile--bookmarks {
    position: absolute;
    cursor: pointer;
    background: #2F80ED;
    border-radius: 8px 8px 0 0;
    top: -38px;
    height: 56px;
    width: 179px;
    right: 0;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out;
    z-index: 0;
    text-align: center; }
    .b-card-profile--bookmarks i {
      font-size: 0.875rem;
      margin-right: 5px; }
    .b-card-profile--bookmarks:hover {
      opacity: .9; }
  .b-card-profile--user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -128px);
    display: inline-flex; }
    .b-card-profile--user-img {
      border: 4px solid #BBF472;
      box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
      width: 175px;
      height: 175px;
      border-radius: 50%;
      position: relative;
      cursor: pointer; }
      .b-card-profile--user-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; }
      .b-card-profile--user-img .img-delete {
        display: flex;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 35px;
        transition: .25s ease-out; }
        .b-card-profile--user-img .img-delete i {
          font-size: 2.5625rem;
          color: #ffffff;
          margin-bottom: 19px; }
        .b-card-profile--user-img .img-delete span {
          font-style: normal;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 14px;
          color: #FFFFFF; }
      .b-card-profile--user-img:hover .img-delete {
        visibility: visible;
        opacity: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); }
    .b-card-profile--user-badge {
      background: #BBF472;
      border-radius: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 23px;
      padding: 0 23px;
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 16px;
      color: #6BAE17;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 6px);
      white-space: nowrap; }
      @media all and (-ms-high-contrast: none) {
        .b-card-profile--user-badge {
          line-height: 23px;
          display: inline-block; } }
  .b-card-profile--place {
    color: #2F80ED;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    transition: .25s ease-out; }
    .b-card-profile--place i {
      font-size: 0.9375rem; }
    .b-card-profile--place:hover {
      opacity: .8; }
  .b-card-profile--title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 28px;
    color: #232323;
    padding-top: 29px; }
  .b-card-profile--subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 16px;
    color: #A3A3A3;
    padding-top: 6px; }
  .b-card-profile--description {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 15px;
    color: #A3A3A3;
    padding-top: 13px;
    margin-bottom: 16px; }
  .b-card-profile--text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    color: #A3A3A3; }
    .b-card-profile--text span {
      font-weight: 500; }
      .b-card-profile--text span.complete {
        color: #F2A000; }

.b-popover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 3px;
  margin-left: auto; }
  .b-popover .wrap-icon {
    height: 8px;
    overflow: hidden; }
  .b-popover .ic-more {
    color: #C2C2C2;
    font-size: 38px;
    line-height: 6px; }
  .b-popover--view {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 18px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
    border-radius: 8px;
    padding: 10px 19px 10px;
    transition: .25s ease-out; }
    .b-popover--view a {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 16px;
      color: #404040;
      white-space: nowrap;
      display: block; }
  .b-popover:hover .b-popover--view {
    opacity: 1;
    visibility: visible;
    z-index: 10; }

.accordion-control {
  display: none;
  cursor: pointer;
  padding-top: 10px; }
  .accordion-control.open img {
    transform: rotate(180deg);
    transition: 0.25s; }

.b-tabs--top {
  margin-bottom: 65px; }
.b-tabs--add-btn {
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
  cursor: pointer;
  border-radius: 12px 12px 0 0;
  border-bottom: 2px solid #F2A000;
  width: 139px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
.b-tabs--add i {
  display: none; }
.b-tabs--add span {
  color: #F2A000;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  font-size: 1.125rem; }
.b-tabs--menu {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }
.b-tabs--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
  position: relative;
  padding-bottom: 2px; }
  .b-tabs--nav:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #C2C2C2;
    bottom: 0; }
  .b-tabs--nav li {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #A3A3A3;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    transition: .25s ease-out;
    text-align: center;
    cursor: pointer;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .b-tabs--nav li.current {
      color: #F2A000;
      border-bottom-color: #F2A000; }
.b-tabs .tab-content {
  display: none; }
  .b-tabs .tab-content.current {
    display: inherit; }

.b-card {
  padding-bottom: 44px;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden; }
  .b-card + .b-card {
    margin-top: 51px; }
  .b-card--head {
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 12px 12px 0 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .b-card--head:before {
      content: "";
      width: 30px;
      height: 30px;
      left: -5px;
      top: -5px;
      position: absolute;
      border-radius: 12px; }
  .b-card--badge {
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    width: 114px;
    height: 114px;
    position: absolute;
    border-radius: 50%;
    top: -32px;
    left: -29px;
    z-index: 2; }
    .b-card--badge i {
      color: #ffffff;
      position: absolute; }
    .b-card--badge .ic-article {
      font-size: 2.4375rem;
      right: 31px;
      bottom: 25px; }
    .b-card--badge .ic-image {
      font-size: 2.875rem;
      right: 24px;
      bottom: 20px; }
    .b-card--badge .ic-route {
      font-size: 3rem;
      right: 29px;
      bottom: 23px; }
    .b-card--badge .ic-star {
      font-size: 2.75rem;
      right: 25px;
      bottom: 26px; }
  .b-card--data {
    background: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    color: #A3A3A3;
    padding: 0 40px 12px 40px;
    z-index: -1; }
    .b-card--data i {
      font-size: 0.875rem;
      margin-right: 13px; }
  .b-card--body {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 0 0 6px 6px;
    padding: 27px 40px 50px; }
    .b-card--body.mobile {
      display: none !important; }
    .b-card--body.desktop {
      display: block !important; }
  .b-card--title {
    color: #232323;
    font-style: normal;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 30px;
    margin-bottom: 14px;
    display: inline-block; }
    .b-card--title span {
      color: #2F80ED; }
  .b-card--subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #404040;
    margin-bottom: 12px; }
  .b-card--description {
    color: #404040;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 16px;
    margin-bottom: 36px;
    max-width: 85%; }
  .b-card--btn {
    width: 147px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCBC17;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out; }
    .b-card--btn:hover {
      box-shadow: 0px 4px 14px rgba(183, 155, 113, 0.46); }
  .b-card .add-bookmark {
    width: 23px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    z-index: 2; }
    .b-card .add-bookmark:before {
      content: "\e918";
      font-family: 'znaimesta';
      font-size: 1.625rem;
      color: #C2C2C2;
      transition: .25s ease-out; }
    .b-card .add-bookmark:hover:before {
      color: #A3A3A3; }
    .b-card .add-bookmark.chosen:before {
      content: "\e917";
      color: #2F80ED; }
  .b-card.card-article .b-card--head {
    height: 182px; }
    .b-card.card-article .b-card--head:before {
      background-color: #FF8181; }
  .b-card.card-article .b-card--badge {
    background-color: #FF8181;
    top: -32px;
    left: -32px; }
  .b-card.card-photo .b-card--head {
    height: 268px; }
    .b-card.card-photo .b-card--head:before {
      background-color: #D781FF; }
  .b-card.card-photo .b-card--badge {
    background-color: #D781FF; }
  .b-card.card-photo .b-card--title {
    margin-bottom: 25px; }
  .b-card.card-photo .b-card--body {
    padding-bottom: 43px; }
  .b-card.card-route .b-card--head {
    height: 202px; }
    .b-card.card-route .b-card--head:before {
      background-color: #6675FF; }
  .b-card.card-route .b-card--badge {
    background-color: #6675FF; }
  .b-card.card-route .b-card--description {
    margin-bottom: 40px; }
  .b-card.card-review .b-card--head {
    height: 202px; }
    .b-card.card-review .b-card--head:before {
      background-color: #A2F43A; }
  .b-card.card-review .b-card--badge {
    background-color: #A2F43A; }
  .b-card .card-route-bg {
    position: absolute;
    bottom: 44px;
    right: 0;
    z-index: 0; }
    .b-card .card-route-bg:before {
      content: "";
      position: absolute;
      background-image: url(../images/route.svg);
      background-repeat: no-repeat;
      width: 552px;
      height: 188px;
      bottom: 0;
      right: 0; }
  .b-card .statistic-comments {
    display: flex; }
    .b-card .statistic-comments li {
      margin-right: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 14px;
      color: #A3A3A3;
      align-items: center; }
    .b-card .statistic-comments i {
      margin-right: 4px; }
    .b-card .statistic-comments .ic-eye {
      font-size: 1.1875rem; }
    .b-card .statistic-comments .ic-like {
      font-size: 1.0625rem; }
    .b-card .statistic-comments .ic-comment {
      font-size: 1.0625rem; }
    .b-card .statistic-comments span {
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 14px;
      color: #A3A3A3; }
  .b-card .b-popover {
    padding-top: 0;
    color: #2F80ED; }
    .b-card .b-popover--view {
      opacity: 0;
      right: auto;
      left: 95%;
      top: 100%;
      padding: 10px 19px 10px;
      width: 312px; }
      .b-card .b-popover--view span {
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 16px;
        color: #A3A3A3;
        display: inline-block; }
    .b-card .b-popover:hover .b-popover--view {
      opacity: 1;
      visibility: visible;
      z-index: 10; }
  .b-card .img-slide {
    height: 268px;
    object-fit: cover; }
  .b-card .slider-counter {
    position: absolute;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    right: 38px;
    bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    color: #FFFFFF;
    z-index: 1;
    padding: 5px 18px; }
  .b-card .all-rating {
    color: #A3A3A3;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 14px; }
    .b-card .all-rating span {
      font-weight: 900; }
  .b-card .my-mark {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .b-card .my-mark--circle {
      background-image: url(../images/rating.svg);
      background-repeat: no-repeat;
      background-position: 50% 0%;
      width: 82px;
      height: 82px;
      font-style: normal;
      font-weight: 900;
      font-size: 2.125rem;
      line-height: 40px;
      color: #414141;
      display: flex;
      align-items: center;
      justify-content: center; }
    .b-card .my-mark span {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 21px;
      color: #A3A3A3; }
  .b-card--info-route {
    position: absolute;
    bottom: -8px;
    right: 58px;
    display: flex; }
    .b-card--info-route .text {
      height: 17px;
      padding: 2px 7px 1px 6px;
      font-style: normal;
      font-weight: 500;
      font-size: 0.8125rem;
      line-height: 15px;
      color: #404040;
      background: #FFFFFF;
      border-radius: 4px 4px 0 0;
      position: relative;
      top: -8px; }
      .b-card--info-route .text em {
        font-style: normal;
        font-size: 0.5625rem;
        line-height: 11px;
        padding-left: 1px; }
    .b-card--info-route .circle {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative; }
      .b-card--info-route .circle i {
        color: #ffffff; }
  .b-card--time-route {
    margin-right: 5px;
    position: relative; }
    .b-card--time-route .circle {
      background: #F2A000; }
      .b-card--time-route .circle i {
        font-size: 1.4375rem;
        position: absolute;
        top: 9px;
        left: 10px; }
  .b-card--distance-route .circle {
    background: #2F80ED; }
    .b-card--distance-route .circle i {
      font-size: 1.6875rem; }

.b-card-add {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 22px; }
  .b-card-add a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #A3A3A3; }

.b-slider {
  position: relative; }

.b-wrap {
  overflow: hidden;
  margin-bottom: 20px; }
  .b-wrap .row {
    margin-left: -4px;
    margin-right: -4px; }
  .b-wrap .col,
  .b-wrap [class*="col-"] {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px; }

.b-image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%; }
  .b-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .b-image--badge {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 8px;
    right: 10px;
    bottom: 10px;
    height: 26px;
    padding: 2px 14px;
    display: inline-flex;
    align-items: center;
    width: auto;
    max-width: 90%; }
    .b-image--badge span {
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 14px;
      color: #FFFFFF;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .b-image--badge i {
      color: #FFFFFF;
      font-size: 0.625rem;
      margin-left: 4px; }

@media only screen and (max-width: 1064px) {
  .b-card-profile--social {
    padding-left: 30px;
    padding-right: 30px; }
  .b-card-profile--edit {
    left: 195px;
    padding: 0 9px; } }
@media only screen and (max-width: 991px) {
  .b-main {
    padding-top: 232px; }
    .b-main--poster {
      height: 263px;
      background-size: cover; }

  .b-card-profile--social {
    padding-left: 35px;
    padding-right: 35px; }
  .b-card-profile--edit {
    left: 0;
    top: -217px;
    padding: 0 14px; }
    .b-card-profile--edit i {
      margin-right: 0; }
  .b-card-profile .droptrigger span {
    display: none; }
  .b-card-profile .dropcontent {
    right: auto;
    left: 0; }
  .b-card-profile--subscribe, .b-card-profile--bookmarks {
    width: 190px; }
  .b-card-profile--info {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px; }
  .b-card-profile--title {
    font-size: 1.25rem;
    line-height: 23px; }
  .b-card-profile--subtitle {
    padding-top: 12px; }

  .b-popover {
    margin-right: 25%; }
    .b-popover--view {
      right: auto;
      left: 50%;
      top: 24px;
      transform: translate(-50%, 0);
      width: 170px;
      padding: 5px 15px 5px;
      text-align: center; }
      .b-popover--view a {
        white-space: normal; }

  .b-card {
    padding-bottom: 34px; }
    .b-card + .b-card {
      margin-top: 40px; }
    .b-card--badge .ic-article {
      font-size: 1.9375rem;
      right: 25px;
      bottom: 19px; }
    .b-card--badge .ic-image {
      font-size: 2.375rem;
      right: 19px;
      bottom: 15px; }
    .b-card--badge .ic-route {
      font-size: 2.1875rem;
      right: 20px;
      bottom: 17px; }
    .b-card--badge .ic-star {
      font-size: 1.8125rem;
      right: 16px;
      bottom: 17px; }
    .b-card--data {
      right: 0;
      bottom: 0;
      height: 42px;
      font-size: 0.875rem;
      line-height: 16px;
      padding: 0 21px 12px 21px;
      z-index: -1; }
      .b-card--data i {
        font-size: 0.75rem;
        margin-right: 10px; }
    .b-card--body {
      padding: 22px 27px 35px; }
    .b-card--title {
      font-size: 1.125rem;
      line-height: 21px;
      margin-bottom: 14px; }
    .b-card--subtitle {
      font-size: 0.875rem;
      line-height: 16px;
      margin-bottom: 8px;
      text-align: center; }
    .b-card--description {
      font-size: 0.75rem;
      line-height: 14px;
      margin-bottom: 20px;
      max-width: 100%; }
    .b-card--btn {
      width: 120px;
      height: 26px;
      font-size: 0.875rem;
      line-height: 16px; }
    .b-card .add-bookmark {
      width: 18px;
      margin-top: 2px; }
      .b-card .add-bookmark:before {
        font-size: 1.3125rem; }
    .b-card.card-article .b-card--head {
      height: 150px; }
    .b-card.card-article .b-card--badge {
      top: -26px;
      left: -28px;
      width: 93px;
      height: 93px; }
    .b-card.card-photo .b-card--head {
      height: 218px; }
    .b-card.card-photo .b-card--badge {
      top: -24px;
      left: -23px;
      width: 91px;
      height: 88px; }
    .b-card.card-photo .b-card--title {
      margin-bottom: 24px; }
    .b-card.card-photo .b-card--body {
      padding-bottom: 28px; }
    .b-card.card-route .b-card--head {
      height: 150px; }
    .b-card.card-route .b-card--badge {
      top: -23px;
      left: -21px;
      width: 83px;
      height: 83px; }
    .b-card.card-route .b-card--description {
      margin-bottom: 22px; }
    .b-card.card-route .b-card--title {
      margin-bottom: 10px; }
    .b-card.card-review .b-card--head {
      height: 138px; }
    .b-card.card-review .b-card--badge {
      top: -21px;
      left: -19px;
      width: 77px;
      height: 77px; }
    .b-card.card-review .b-card--body {
      padding-top: 18px; }
    .b-card.card-review .b-card--title {
      margin-bottom: 10px; }
    .b-card.card-review .b-card--description {
      margin-bottom: 18px; }
    .b-card .card-route-bg {
      height: 186px;
      width: 550px;
      overflow: hidden;
      bottom: 33px; }
      .b-card .card-route-bg:before {
        background-image: url(../images/route-2.svg);
        bottom: -60px;
        right: -17px;
        height: 186px;
        width: 550px; }
    .b-card .statistic-comments {
      display: flex; }
      .b-card .statistic-comments li {
        margin-right: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 14px;
        color: #A3A3A3;
        align-items: center; }
      .b-card .statistic-comments i {
        margin-right: 4px; }
      .b-card .statistic-comments .ic-eye {
        font-size: 1.1875rem; }
      .b-card .statistic-comments .ic-like {
        font-size: 1.0625rem; }
      .b-card .statistic-comments .ic-comment {
        font-size: 1.0625rem; }
      .b-card .statistic-comments span {
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 14px;
        color: #A3A3A3; }
    .b-card .b-popover {
      padding-top: 0;
      color: #2F80ED; }
      .b-card .b-popover--view {
        opacity: 0;
        right: auto;
        left: 95%;
        top: 100%;
        padding: 10px 19px 10px;
        width: 312px; }
        .b-card .b-popover--view span {
          font-style: normal;
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 16px;
          color: #A3A3A3;
          display: inline-block; }
      .b-card .b-popover:hover .b-popover--view {
        opacity: 1;
        visibility: visible;
        z-index: 10; }
    .b-card .img-slide {
      height: 218px; }
    .b-card .slider-counter {
      right: 28px;
      bottom: 14px;
      font-size: 0.875rem;
      line-height: 17px;
      padding: 5px 15px; }
    .b-card .all-rating {
      display: block;
      position: relative;
      top: -4px;
      margin-bottom: 15px; }
    .b-card .my-mark {
      justify-content: center;
      margin-left: 15px; }
      .b-card .my-mark--circle {
        width: 53px;
        height: 53px;
        font-size: 1.5rem;
        line-height: 28px;
        background-size: 58px; }
      .b-card .my-mark span {
        font-size: 0.875rem;
        line-height: 16px; }
    .b-card--info-route {
      right: 27px; }

  .b-card-profile {
    margin-bottom: 26px; }

  .b-tabs--top {
    margin-bottom: 44px; }
  .b-tabs--add-btn {
    width: 105px;
    height: 34px; }
  .b-tabs--add span {
    line-height: 19px;
    font-size: 1rem; }
  .b-tabs--nav {
    padding-right: 16px; }
    .b-tabs--nav li {
      font-size: 1rem;
      line-height: 19px; }

  .b-wrap .row {
    margin-left: -3px;
    margin-right: -3px; }
  .b-wrap .col,
  .b-wrap [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 6px; }

  .b-card-add {
    margin-bottom: 20px; }

  .b-image--badge {
    max-width: 80%;
    padding-left: 10px;
    padding-right: 10px; }
    .b-image--badge span {
      font-weight: 500;
      font-size: 0.625rem;
      line-height: 12px; }
    .b-image--badge i {
      font-size: 0.5rem;
      margin-left: 2px; } }
@media only screen and (max-width: 667px) {
  .b-main {
    padding-top: 68px; }
    .b-main--poster {
      height: 104px; }

  .b-card-profile {
    position: relative;
    margin-bottom: 80px; }
    .b-card-profile .row {
      margin-left: -8px;
      margin-right: -8px; }
    .b-card-profile .col,
    .b-card-profile [class*="col-"] {
      padding-left: 8px;
      padding-right: 8px; }
    .b-card-profile .droptrigger {
      justify-content: center; }
    .b-card-profile--social {
      display: none; }
    .b-card-profile--edit {
      left: 6px;
      top: -36px;
      padding: 0 4px;
      min-width: 32px; }
    .b-card-profile--info {
      padding: 16px 10px;
      min-height: 150px; }
    .b-card-profile--subscribe {
      position: relative;
      cursor: pointer;
      top: 0;
      box-shadow: none;
      border-radius: 4px;
      height: 23px;
      right: 0;
      padding: 0 5px;
      font-size: 0.6875rem;
      line-height: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .b-card-profile--bookmarks {
      position: relative;
      cursor: pointer;
      top: 0;
      box-shadow: none;
      border-radius: 4px;
      height: 23px;
      right: 0;
      padding: 0 5px;
      font-size: 0.6875rem;
      line-height: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .b-card-profile--user {
      transform: translate(-50%, -37px); }
      .b-card-profile--user-img {
        width: 77px;
        height: 77px; }
        .b-card-profile--user-img .img-delete {
          padding-bottom: 12px; }
          .b-card-profile--user-img .img-delete i {
            font-size: 1.125rem;
            color: #ffffff;
            margin-bottom: 5px; }
          .b-card-profile--user-img .img-delete span {
            font-style: normal;
            font-weight: 500;
            font-size: 0.5625rem;
            line-height: 11px;
            color: #FFFFFF; }
      .b-card-profile--user-badge {
        height: 16px;
        padding: 0 9px;
        font-size: 0.625rem;
        line-height: 12px;
        transform: translate(-50%, 4px); }
    .b-card-profile--place {
      font-size: 0.75rem;
      line-height: 14px;
      display: inline-block;
      margin-top: 25px; }
      .b-card-profile--place i {
        font-size: 0.625rem; }
    .b-card-profile--title {
      font-size: 1rem;
      line-height: 19px;
      padding-top: 9px; }
    .b-card-profile--subtitle {
      font-size: 0.75rem;
      line-height: 14px;
      padding-top: 9px;
      margin-bottom: 13px; }
    .b-card-profile--description {
      font-size: 0.75rem;
      line-height: 14px;
      padding-top: 13px;
      margin-bottom: 12px;
      position: relative;
      padding-bottom: 13px; }
      .b-card-profile--description:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 212px;
        height: 1px;
        background: #F6F6F6;
        border-radius: 11px;
        top: 0; }
      .b-card-profile--description:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 212px;
        height: 1px;
        background: #F6F6F6;
        border-radius: 11px;
        bottom: 0; }
    .b-card-profile--text {
      text-align: center;
      font-size: 0.875rem;
      line-height: 16px;
      margin-bottom: 6px; }
    .b-card-profile .it-1 {
      order: 3; }
    .b-card-profile .it-2 {
      order: 2; }
    .b-card-profile .it-3 {
      order: 1; }

  .social-icon {
    padding-top: 16px;
    position: relative;
    padding-bottom: 13px; }
    .social-icon:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 212px;
      height: 1px;
      background: #F6F6F6;
      border-radius: 11px;
      top: 0; }
    .social-icon:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 212px;
      height: 1px;
      background: #F6F6F6;
      border-radius: 11px;
      bottom: 0; }
    .social-icon .ic-vk {
      font-size: 0.8125rem; }
    .social-icon .ic-facebook {
      font-size: 0.9375rem; }
    .social-icon .ic-instagram {
      font-size: 1.0625rem; }
    .social-icon i {
      color: #A3A3A3; }
    .social-icon a i {
      color: #2F80ED; }
    .social-icon .row {
      margin-left: -12px;
      margin-right: -12px; }
    .social-icon .col,
    .social-icon [class*="col-"] {
      padding-left: 12px;
      padding-right: 12px; }

  .b-popover--view {
    top: 20px;
    width: 97px;
    padding: 5px 5px 6px; }
    .b-popover--view a {
      font-size: 0.625rem;
      line-height: 12px; }
  .b-popover .ic-more {
    color: #C2C2C2;
    font-size: 31px;
    line-height: 7px; }

  .accordion-control {
    display: flex;
    align-items: center;
    justify-content: center; }

  .accordion-panel {
    padding-bottom: 23px;
    display: none; }

  .b-card {
    padding-bottom: 0;
    margin-bottom: 22px; }
    .b-card--badge .ic-article {
      font-size: 1.625rem;
      right: 18px;
      bottom: 13px; }
    .b-card--badge .ic-image {
      font-size: 1.8125rem;
      right: 12px;
      bottom: 11px; }
    .b-card--badge .ic-route {
      font-size: 1.75rem;
      right: 15px;
      bottom: 12px; }
    .b-card--badge .ic-star {
      font-size: 1.5rem;
      right: 16px;
      bottom: 14px; }
    .b-card--data {
      right: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      justify-content: flex-end;
      font-size: 0.75rem;
      line-height: 14px;
      padding: 13px 0 0;
      z-index: 0;
      position: relative; }
      .b-card--data i {
        font-size: 0.625rem;
        margin-right: 8px; }
    .b-card--body {
      padding: 12px 12px 20px;
      display: flex;
      flex-flow: wrap; }
      .b-card--body.mobile {
        display: flex !important; }
      .b-card--body.desktop {
        display: none !important; }
    .b-card--title {
      font-size: 1rem;
      line-height: 19px;
      margin-bottom: 4px; }
    .b-card--subtitle {
      font-size: 0.625rem;
      line-height: 12px;
      margin-bottom: 4px; }
    .b-card--description {
      font-size: 0.5625rem;
      line-height: 14px;
      margin-bottom: 14px; }
    .b-card--btn {
      width: auto;
      height: 27px;
      font-size: 0.75rem;
      line-height: 14px;
      padding: 0 14px; }
    .b-card .add-bookmark {
      width: 23px;
      margin-top: 0; }
      .b-card .add-bookmark:before {
        font-size: 1.625rem; }
    .b-card .statistic-comments {
      display: flex;
      padding-top: 12px; }
      .b-card .statistic-comments li {
        margin-right: 16px; }
      .b-card .statistic-comments i {
        margin-right: 4px; }
      .b-card .statistic-comments .ic-like {
        font-size: 0.9375rem; }
      .b-card .statistic-comments .ic-comment {
        font-size: 0.9375rem; }
      .b-card .statistic-comments span {
        font-size: 0.6875rem;
        line-height: 13px; }
    .b-card.card-article .b-card--head {
      height: 185px; }
    .b-card.card-article .b-card--badge {
      top: -19px;
      left: -16px;
      width: 68px;
      height: 68px; }
    .b-card.card-article .item-1 {
      flex: 0 0 100%;
      width: 100%;
      order: 1; }
    .b-card.card-article .item-2 {
      flex: 0 0 45%;
      width: 45%;
      order: 4; }
    .b-card.card-article .item-3 {
      flex: 0 0 100%;
      width: 100%;
      order: 2; }
    .b-card.card-article .item-4 {
      flex: 0 0 55%;
      width: 55%;
      order: 3; }
      .b-card.card-article .item-4 .col {
        width: 100%;
        flex: 0 0 100%; }
    .b-card.card-photo .b-card--badge {
      top: -19px;
      left: -16px;
      width: 68px;
      height: 68px; }
    .b-card.card-photo .b-card--title {
      margin-bottom: 14px; }
    .b-card.card-photo .b-card--body {
      padding-bottom: 25px; }
    .b-card.card-photo .item-1 {
      flex: 0 0 100%;
      width: 100%;
      order: 1; }
    .b-card.card-photo .item-2 {
      flex: 0 0 45%;
      width: 45%;
      order: 3; }
    .b-card.card-photo .item-4 {
      flex: 0 0 55%;
      width: 55%;
      order: 2; }
    .b-card.card-route .b-card--head {
      height: 185px; }
    .b-card.card-route .b-card--badge {
      top: -19px;
      left: -16px;
      width: 68px;
      height: 68px; }
    .b-card.card-route .item-1 {
      flex: 0 0 100%;
      width: 100%;
      order: 1; }
    .b-card.card-route .item-2 {
      flex: 0 0 45%;
      width: 45%;
      order: 4; }
    .b-card.card-route .item-3 {
      flex: 0 0 100%;
      width: 100%;
      order: 2; }
    .b-card.card-route .item-4 {
      flex: 0 0 55%;
      width: 55%;
      order: 3; }
      .b-card.card-route .item-4 .col {
        width: 100%;
        flex: 0 0 100%; }
    .b-card.card-review .b-card--head {
      height: 185px; }
    .b-card.card-review .b-card--title {
      margin-bottom: 8px; }
      .b-card.card-review .b-card--title span {
        display: block; }
    .b-card.card-review .b-card--badge {
      top: -19px;
      left: -16px;
      width: 68px;
      height: 68px; }
    .b-card.card-review .item-1 {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      order: 1; }
    .b-card.card-review .item-2 {
      flex: 0 0 95px;
      width: 95px;
      order: 2; }
    .b-card.card-review .item-3 {
      flex: 0 0 100%;
      width: 100%;
      order: 3; }
    .b-card.card-review .item-4 {
      flex: 0 0 100%;
      width: 100%;
      order: 4; }
    .b-card--info-route {
      bottom: -8px;
      right: 0; }
      .b-card--info-route .text {
        height: 14px;
        padding: 1px 7px 1px 5px;
        font-size: 0.625rem;
        line-height: 12px;
        top: -6px; }
        .b-card--info-route .text em {
          font-size: 0.4375rem;
          line-height: 8px; }
      .b-card--info-route .circle {
        width: 34px;
        height: 34px; }
    .b-card--time-route {
      margin-right: 4px; }
      .b-card--time-route .circle i {
        font-size: 1.125rem;
        top: 7px;
        left: 8px; }
    .b-card--distance-route .circle i {
      font-size: 1.25rem;
      position: absolute;
      top: 6px;
      left: 7px; }
    .b-card .card-route-bg {
      display: none; }
    .b-card .b-popover {
      display: block; }
      .b-card .b-popover--view {
        left: 0;
        top: 100%;
        width: 280px;
        transform: translate(0, 0); }
        .b-card .b-popover--view span {
          font-size: 0.75rem;
          line-height: 14px; }
    .b-card .slider-counter {
      right: 12px;
      bottom: 10px;
      font-size: 0.5rem;
      line-height: 9px;
      padding: 2px 8px; }
    .b-card .all-rating {
      top: 0;
      margin-bottom: 9px; }
    .b-card .my-mark--circle {
      width: 34px;
      height: 34px;
      font-size: 0.875rem;
      line-height: 16px;
      background-size: 38px; }
    .b-card .my-mark span {
      font-size: 0.5625rem;
      line-height: 11px; }
    .b-card .row {
      margin-left: -4px;
      margin-right: -4px; }
    .b-card .col,
    .b-card [class*="col-"] {
      padding-left: 4px;
      padding-right: 4px; }

  .b-card-profile {
    margin-bottom: 26px; }

  .b-tabs--top {
    margin-bottom: 44px;
    flex-flow: wrap; }
  .b-tabs--menu {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
    flex-basis: auto; }
    .b-tabs--menu * {
      user-select: none; }
  .b-tabs--add {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center; }
    .b-tabs--add-btn {
      height: 32px;
      width: 147px;
      border-bottom: none;
      border-radius: 6px;
      margin: 0 auto;
      box-shadow: 0px 4px 14px rgba(173, 181, 184, 0.4); }
    .b-tabs--add i {
      display: block;
      color: #FCBC17;
      margin-right: 3px; }
    .b-tabs--add span {
      line-height: 21px;
      font-size: 1.125rem;
      font-weight: 500;
      color: #FCBC17; }
  .b-tabs--nav {
    padding-right: 0;
    width: 767px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 0; }
    .b-tabs--nav:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #C2C2C2;
      bottom: 0; }
    .b-tabs--nav li {
      font-size: 1rem;
      line-height: 1.1;
      font-weight: normal;
      padding-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
      height: 42px;
      width: 20%;
      flex-basis: auto; }
      .b-tabs--nav li.current {
        color: #FCBC17;
        border-bottom-color: #FCBC17; }

  .b-wrap .row {
    margin-left: -2px;
    margin-right: -2px; }
  .b-wrap .col,
  .b-wrap [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px; }

  .b-card-add a {
    font-size: 0.875rem;
    line-height: 16px; } }

/*# sourceMappingURL=style.css.map */
