@import "_variables";
@import "_glabal";
@import "default";
@import "header";
@import "_ic-font";

.b-main {
  padding-top: 260px;
  position: relative;

  &--poster{
    height: 356px;
    width: 100%;
    background-image: url(../images/img-2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.b-card-profile {
  position: relative;
  margin-bottom: 80px;

  &--social {
    position: absolute;
    background: #F5F5F5;
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    border-radius: 8px 8px 0 0;
    left: 0;
    top: -38px;
    height: 68px;
    padding: 10px 35px;

    .ic-vk {
      @include rem(15);
    }

    .ic-facebook {
      @include rem(18);
    }

    .ic-instagram {
      @include rem(20);
    }

    i {
      color: #A3A3A3;
    }

    a {
      i {
        color: #2F80ED;
      }
    }
  }

  &--edit {
    position: absolute;
    left: 207px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    top: -38px;
    padding: 0 15px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    @include rem(12);
    line-height: 14px;
    color: #FFFFFF;
    transition: .25s ease-out;
    cursor: pointer;

    i {
      margin-right: 5px;
      @include rem(16);
    }

    &:hover{
      background: rgba(0, 0, 0, 0.55);
    }

  }

  .droptrigger{
    cursor: pointer;
  }

  .dropcontent{
    visibility: hidden;
    box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
    border-radius: 8px;
    border-color: #ffffff;
    background-color: #ffffff;
    margin-top: 5px;
    padding: 5px 22px 7px;
    width: 172px;
    position: absolute;
    right: 0;
    z-index: 20;

    li{
      padding: 8px 0 5px;
      display: inline-flex;
      align-items: center;
      @include rem(14);
      font-style: normal;
      font-weight: normal;
      line-height: 16px;

      &:first-child{
        border-bottom: 1px solid #E6E6E6;
      }

      a{
        color: #404040;
      }

      span{
        color: #A3A3A3;
      }
    }

    &.open {
      visibility: visible;
    }
  }

  &--info {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 12px;
    position: relative;
    min-height: 235px;
    padding: 16px 46px;
    z-index: 1;
  }

  &--subscribe {
    position: absolute;
    cursor: pointer;
    background: #FCBC17;
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    border-radius: 8px 8px 0 0;
    top: -38px;
    height: 56px;
    right: 0;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    @include rem(18);
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out;
    z-index: 0;
    width: 179px;
    text-align: center;

    &:hover {
      opacity: .9;
    }
  }

  &--bookmarks {
    position: absolute;
    cursor: pointer;
    background: #2F80ED;
    border-radius: 8px 8px 0 0;
    top: -38px;
    height: 56px;
    width: 179px;
    right: 0;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    @include rem(18);
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out;
    z-index: 0;
    text-align: center;

    i {
      @include rem(14);
      margin-right: 5px;
    }

    &:hover {
      opacity: .9;
    }
  }

  &--user {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -128px);
    display: inline-flex;

    &-img {
      border: 4px solid #BBF472;
      box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
      width: 175px;
      height: 175px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .img-delete{
        display: flex;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 35px;
        transition: .25s ease-out;

        i{
          @include rem(41);
          color: #ffffff;
          margin-bottom: 19px;
        }

        span{
          font-style: normal;
          font-weight: 500;
          @include rem(12);
          line-height: 14px;
          color: #FFFFFF;
        }
      }

      &:hover{
        .img-delete{
          visibility: visible;
          opacity: 1;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
        }
      }
    }

    &-badge {
      background: #BBF472;
      border-radius: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 23px;
      padding: 0 23px;
      font-style: normal;
      font-weight: 500;
      @include rem(14);
      line-height: 16px;
      color: #6BAE17;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 6px);
      white-space: nowrap;

      @media all and (-ms-high-contrast: none) {
        line-height: 23px;
        display: inline-block;
      }
    }
  }

  &--place {
    color: #2F80ED;
    font-style: normal;
    font-weight: normal;
    @include rem(18);
    line-height: 21px;
    transition: .25s ease-out;

    i {
      @include rem(15);
    }

    &:hover {
      opacity: .8;
    }
  }

  &--title {
    font-style: normal;
    font-weight: 500;
    @include rem(24);
    line-height: 28px;
    color: #232323;
    padding-top: 29px;
  }

  &--subtitle {
    font-style: normal;
    font-weight: 500;
    @include rem(14);
    line-height: 16px;
    color: #A3A3A3;
    padding-top: 6px;
  }

  &--description {
    font-style: normal;
    font-weight: normal;
    @include rem(13);
    line-height: 15px;
    color: #A3A3A3;
    padding-top: 13px;
    margin-bottom: 16px;
  }

  &--text {
    font-style: normal;
    font-weight: normal;
    @include rem(18);
    line-height: 21px;
    color: #A3A3A3;

    span {
      font-weight: 500;

      &.complete{
        color: #F2A000;
      }
    }
  }
}

.b-popover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 6px;
  margin-left: auto;

  .ic-more {
    color: #C2C2C2;
    font-size: 38px;
    line-height: 6px;
  }

  &--view {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 18px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
    border-radius: 8px;
    padding: 10px 19px 10px;
    transition: .25s ease-out;

    a {
      font-style: normal;
      font-weight: normal;
      @include rem(14);
      line-height: 16px;
      color: #404040;
      white-space: nowrap;
      display: block;
    }
  }

  &:hover {
    .b-popover--view {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
  }
}

.accordion-control{
  display: none;
  cursor: pointer;
  padding-top: 10px;
}

//tabs

.b-tabs {
  &--top{
    margin-bottom: 65px;
  }

  &--add{
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    cursor: pointer;
    border-radius: 12px 12px 0 0;
    border-bottom: 2px solid #F2A000;
    width: 139px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      display: none;
    }

    span{
      color: #F2A000;
      font-style: normal;
      font-weight: 900;
      line-height: 21px;
      @include rem(18);
    }
  }

  &--menu{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  &--nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
    position: relative;
    padding-bottom: 2px;

    &:before{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #C2C2C2;
      bottom: 0;
    }

    li{
      font-style: normal;
      font-weight: 500;
      @include rem(18);
      line-height: 21px;
      color: #A3A3A3;
      padding-bottom: 0;
      border-bottom: 2px solid transparent;
      margin-bottom: -2px;
      transition: .25s ease-out;
      text-align: center;
      cursor: pointer;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.current{
        color: #F2A000;
        border-bottom-color: #F2A000;
      }
    }
  }

  .tab-content{
    display: none;

    &.current{
      display: inherit;
    }
  }

}

//card
.b-card{
  padding-bottom: 44px;
  position: relative;
  margin-bottom: 39px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;

  &--head{
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 12px 12px 0 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before{
      content: "";
      width: 30px;
      height: 30px;
      left: -5px;
      top: -5px;
      position: absolute;
      border-radius: 12px;
    }
  }

  &--badge{
    box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
    width: 114px;
    height: 114px;
    position: absolute;
    border-radius: 50%;
    top: -32px;
    left: -29px;
    z-index: 2;

    i{
      color: #ffffff;
      position: absolute;
    }

    .ic-article{
      @include rem(39);
      right: 31px;
      bottom: 25px;
    }

    .ic-image{
      @include rem(46);
      right: 24px;
      bottom: 20px;
    }

    .ic-route{
      @include rem(48);
      right: 29px;
      bottom: 23px;
    }

    .ic-star{
      @include rem(44);
      right: 25px;
      bottom: 26px;
    }
  }

  &--data{
    background: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    @include rem(18);
    line-height: 21px;
    color: #A3A3A3;
    padding: 0 40px 12px 40px;
    z-index: -1;

    i{
      @include rem(14);
      margin-right: 13px;
    }
  }

  &--body{
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
    border-radius: 0 0 6px 6px;
    padding: 27px 40px 50px;
    display: grid;
    grid-template-rows: auto 0 auto;
  }

  .item-1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .item-2{
    grid-column: 5 / 6;
    grid-row: 1 / 5;
  }

  .item-3{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .item-4{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  &--title{
    color: #232323;
    font-style: normal;
    font-weight: 500;
    @include rem(26);
    line-height: 30px;
    margin-bottom: 17px;
    display: inline-block;

    span{
      color: #2F80ED;
    }
  }

  &--subtitle{
    font-style: normal;
    font-weight: 500;
    @include rem(18);
    line-height: 21px;
    color: #404040;
    margin-bottom: 12px;
  }

  &--description{
    color: #404040;
    font-style: normal;
    font-weight: normal;
    @include rem(14);
    line-height: 16px;
    margin-bottom: 36px;
    max-width: 85%;
  }

  &--btn{
    width: 147px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCBC17;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    @include rem(18);
    line-height: 21px;
    color: #FFFFFF;
    transition: .25s ease-out;

    &:hover{
      box-shadow: 0px 4px 14px rgba(183, 155, 113, 0.46);
    }
  }

  .add-bookmark{
    width: 23px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-top: 10px;
    z-index: 2;

    &:before{
      content: "\e918";
      font-family: 'znaimesta';
      @include rem(26);
      color: #C2C2C2;
      transition: .25s ease-out;
    }

    &:hover{
      &:before{
        color: #A3A3A3;
      }
    }

    &.chosen{
      &:before{
        content: "\e917";
        color: #2F80ED;
      }
    }
  }

  &.card-article{
    .b-card--head{
      height: 182px;

      &:before{
        background-color: #FF8181;
      }
    }

    .b-card--badge{
      background-color: #FF8181;
      top: -32px;
      left: -32px;
    }

    .b-card--body{
      grid-template-columns: 1fr 0 1fr 0px 10%;
    }
  }

  &.card-photo{
    .b-card--head{
      height: 268px;

      &:before{
        background-color: #D781FF;
      }
    }

    .b-card--badge{
      background-color: #D781FF;
    }

    .b-card--title{
      margin-bottom: 25px;
    }

    .b-card--body{
      padding-bottom: 40px;
    }
  }

  &.card-route{
    .b-card--head{
      height: 202px;

      &:before{
        background-color: #6675FF;
      }
    }

    .b-card--badge{
      background-color: #6675FF;
    }

    .b-card--body{
      grid-template-columns: 1fr 0 1fr 0px 10%;


    }
  }

  &.card-review{
    .b-card--head{
      height: 202px;

      &:before{
        background-color: #A2F43A;
      }
    }

    .b-card--badge{
      background-color: #A2F43A;
    }

    .b-card--body{
      grid-template-columns: 1fr 0 1fr 0px 13%;
    }
  }

  .card-route-bg{
    position: absolute;
    bottom: 44px;
    right: 0;
    z-index: 0;

    &:before{
      content: "";
      position: absolute;
      background-image: url(../images/route.svg);
      background-repeat: no-repeat;
      width: 552px;
      height: 188px;
      bottom: 0;
      right: 0;
    }

  }

  .statistic-comments{
    display: flex;

    li{
      margin-right: 20px;
      font-style: normal;
      font-weight: 500;
      @include rem(14);
      line-height: 14px;
      color: #A3A3A3;
      align-items: center;
    }

    i{
      margin-right: 4px;
    }

    .ic-eye{
      @include rem(19);
    }

    .ic-like{
      @include rem(17);
    }

    .ic-comment{
      @include rem(17);
    }

    span{
      font-style: normal;
      font-weight: 500;
      @include rem(14);
      line-height: 14px;
      color: #A3A3A3;
    }
  }

  .b-popover {
    padding-top: 0;
    color: #2F80ED;

    &--view {
      opacity: 0;
      right: auto;
      left: 95%;
      top: 100%;
      padding: 10px 19px 10px;
      width: 312px;

      span {
        font-style: normal;
        font-weight: normal;
        @include rem(14);
        line-height: 16px;
        color: #A3A3A3;
        display: inline-block;
      }
    }

    &:hover {
      .b-popover--view {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }

  .img-slide{
    height: 268px;
    object-fit: cover;
  }

  .slider-counter{
    position: absolute;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    right: 38px;
    bottom: 18px;
    font-style: normal;
    font-weight: normal;
    @include rem(18);
    line-height: 21px;
    color: #FFFFFF;
    z-index: 1;
    padding: 5px 18px;
  }

  .all-rating{
    color: #A3A3A3;
    font-style: normal;
    font-weight: normal;
    @include rem(12);
    line-height: 14px;

    span{
      font-weight: 900;
    }
  }

  .my-mark{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &--circle{
      background-image: url(../images/rating.svg);
      background-repeat: no-repeat;
      background-position: 50% 0%;
      width: 82px;
      height: 82px;
      font-style: normal;
      font-weight: 900;
      @include rem(34);
      line-height: 40px;
      color: #414141;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span{
      font-style: normal;
      font-weight: normal;
      @include rem(18);
      line-height: 21px;
      color: #A3A3A3;
    }
  }

  &--info-route{
    position: absolute;
    bottom: -8px;
    right: 58px;
    display: flex;

    .text{
      height: 17px;
      padding: 1px 7px 1px 6px;
      font-style: normal;
      font-weight: 500;
      @include rem(13);
      line-height: 15px;
      color: #404040;
      background: #FFFFFF;
      border-radius: 4px 4px 0 0;
      position: relative;
      top: -8px;
    }

    .circle{
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      i{
        color: #ffffff;
      }
    }
  }

  &--time-route{
    margin-right: 5px;
    position: relative;

    .circle{
      background: #F2A000;

      i{
        @include rem(23);
      }
    }

  }

  &--distance-route{
    .circle{
      background: #2F80ED;

      i{
        @include rem(24);
      }
    }
  }
}

.b-card-add{
  text-align: center;
  margin-bottom: 40px;
  a{
    font-style: normal;
    font-weight: 500;
    @include rem(18);
    line-height: 21px;
    text-align: center;
    color: #A3A3A3;
  }
}

.b-slider{
  position: relative;
}

.b-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  .row{
    margin-left: -4px;
    margin-right: -4px;
  }

  .col,
  [class*="col-"]{
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px;
  }
}

.b-image{
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--badge{
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 8px;
    right: 10px;
    bottom: 10px;
    height: 26px;
    padding: 2px 14px;
    display: inline-flex;
    align-items: center;
    width: auto;
    max-width: 90%;

    span{
      font-style: normal;
      font-weight: normal;
      @include rem(12);
      line-height: 14px;
      color: #FFFFFF;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i{
      color: #FFFFFF;
      @include rem(10);
      margin-left: 4px;
    }
  }
}

@media only screen and (max-width: 1064px){
  .b-card-profile {

    &--social {
      padding-left: 30px;
      padding-right: 30px;
    }

    &--edit {
      left: 195px;
      padding: 0 9px;

    }
  }
}

@media only screen and (max-width: 991px){
  .b-main {
    padding-top: 232px;

    &--poster{
      height: 263px;
      background-size: cover;
    }
  }

  .b-card-profile {

    &--social {
      padding-left: 35px;
      padding-right: 35px;
    }

    &--edit {
      left: 0;
      top: -217px;
      padding: 0 14px;

      i {
        margin-right: 0;
      }

    }

    .droptrigger{
      span{
        display: none;
      }
    }

    .dropcontent{
      right: auto;
      left: 0;
    }

    &--subscribe,
    &--bookmarks{
      width: 190px;
    }

    &--info{
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 35px;
    }

    &--title {
      @include rem(20);
      line-height: 23px;
    }

    &--subtitle {
      padding-top: 12px;
    }
  }

  .b-popover{
    margin-right: auto;

    &--view {
      right: auto;
      left: 50%;
      top: 24px;
      transform: translate(-50%, 0);
      width: 170px;
      padding: 5px 15px 5px;
      text-align: center;

      a {
        white-space: normal;
      }
    }
  }

  .b-card{
    padding-bottom: 34px;
    margin-bottom: 40px;

    &--badge{

      .ic-article{
        @include rem(31);
        right: 25px;
        bottom: 19px;
      }

      .ic-image{
        @include rem(38);
        right: 19px;
        bottom: 15px;
      }

      .ic-route{
        @include rem(35);
        right: 20px;
        bottom: 17px;
      }

      .ic-star{
        @include rem(29);
        right: 16px;
        bottom: 17px;
      }
    }

    &--data{
      right: 0;
      bottom: 0;
      height: 42px;
      @include rem(14);
      line-height: 16px;
      padding: 0 21px 12px 21px;
      z-index: -1;

      i{
        @include rem(12);
        margin-right: 10px;
      }
    }

    &--body{
      padding: 22px 30px 35px;
    }

    &--title{
      @include rem(18);
      line-height: 21px;
      margin-bottom: 10px;
    }

    &--subtitle{
      @include rem(14);
      line-height: 16px;
      margin-bottom: 8px;
      text-align: center;
    }

    &--description{
      @include rem(12);
      line-height: 14px;
      margin-bottom: 20px;
      max-width: 100%;
    }

    &--btn{
      width: 120px;
      height: 26px;
      @include rem(14);
      line-height: 16px;
    }

    .add-bookmark{
      width: 23px;
      margin-top: 2px;

      &:before{
        @include rem(21);
      }
    }

    &.card-article{
      .b-card--head{
        height: 150px;
      }

      .b-card--badge{
        top: -26px;
        left: -28px;
        width: 93px;
        height: 93px;
      }
    }

    &.card-photo{
      .b-card--head{
        height: 218px;
      }

      .b-card--badge{
        top: -24px;
        left: -23px;
        width: 91px;
        height: 88px;
      }

      .b-card--title{
        margin-bottom: 25px;
      }

      .b-card--body{
        padding-bottom: 40px;
      }
    }

    &.card-route{
      .b-card--head{
        height: 150px;
      }

      .b-card--badge{
        top: -23px;
        left: -21px;
        width: 83px;
        height: 83px;
      }
    }

    &.card-review{
      .b-card--head{
        height: 138px;
      }

      .b-card--badge{
        top: -21px;
        left: -19px;
        width: 77px;
        height: 77px;
      }

      .b-card--body{
        grid-template-columns: 1fr 0 1fr 0px 15%;
      }
    }


    .card-route-bg{
      height: 186px;
      width: 550px;
      overflow: hidden;

      &:before{
        background-image: url(../images/route-2.svg);
        bottom: -61px;
        right: -18px;
        height: 186px;
        width: 550px;
      }

    }

    .statistic-comments{
      display: flex;

      li{
        margin-right: 20px;
        font-style: normal;
        font-weight: 500;
        @include rem(14);
        line-height: 14px;
        color: #A3A3A3;
        align-items: center;
      }

      i{
        margin-right: 4px;
      }

      .ic-eye{
        @include rem(19);
      }

      .ic-like{
        @include rem(17);
      }

      .ic-comment{
        @include rem(17);
      }

      span{
        font-style: normal;
        font-weight: 500;
        @include rem(14);
        line-height: 14px;
        color: #A3A3A3;
      }
    }

    .b-popover {
      padding-top: 0;
      color: #2F80ED;

      &--view {
        opacity: 0;
        right: auto;
        left: 95%;
        top: 100%;
        padding: 10px 19px 10px;
        width: 312px;

        span {
          font-style: normal;
          font-weight: normal;
          @include rem(14);
          line-height: 16px;
          color: #A3A3A3;
          display: inline-block;
        }
      }

      &:hover {
        .b-popover--view {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
    }

    .img-slide{
      height: 218px;
    }

    .slider-counter{
      right: 28px;
      bottom: 14px;
      @include rem(14);
      line-height: 17px;
      padding: 5px 15px;
    }

    .all-rating{
      display: block;
      position: relative;
      top: -4px;
      margin-bottom: 15px;
    }

    .my-mark{
      &--circle{
        width: 53px;
        height: 53px;
        @include rem(24);
        line-height: 28px;
        background-size: 58px;
      }

      span{
        @include rem(14);
        line-height: 16px;
      }
    }

    &--info-route{
      right: 27px;
    }

  }

  .b-card-profile {
    margin-bottom: 26px;
  }

  .b-tabs {
    &--top{
      margin-bottom: 44px;
    }

    &--add{
      width: 105px;
      height: 34px;

      span{
        line-height: 19px;
        @include rem(16);
      }
    }

    &--nav{
      padding-right: 16px;

      li{
        @include rem(16);
        line-height: 19px;
      }
    }
  }

  .b-wrap{
    .row{
      margin-left: -3px;
      margin-right: -3px;
    }

    .col,
    [class*="col-"]{
      padding-left: 3px;
      padding-right: 3px;
      margin-bottom: 6px;
    }
  }

  .b-card-add{
    margin-bottom: 20px;
  }

  .b-image{
    &--badge{
      max-width: 80%;
      padding-left: 10px;
      padding-right: 10px;

      span{
        font-weight: 500;
        @include rem(10);
        line-height: 12px;
      }

      i{
        @include rem(8);
        margin-left: 2px;
      }
    }
  }

}

@media only screen and (max-width: 667px){
  .b-main {
    padding-top: 68px;

    &--poster{
      height: 104px;
    }
  }

  .b-card-profile {
    position: relative;
    margin-bottom: 80px;

    .row{
      margin-left: -8px;
      margin-right: -8px;
    }

    .col,
    [class*="col-"]{
      padding-left: 8px;
      padding-right: 8px;
    }

    .droptrigger{
      justify-content: center;
    }

    &--social {
      display: none;
    }

    &--edit {
      left: 6px;
      top: -36px;
      padding: 0 4px;
      min-width: 32px;
    }

    &--info {
      padding: 16px 10px;
      min-height: 150px;
    }

    &--subscribe {
      position: relative;
      cursor: pointer;
      top: 0;
      box-shadow: none;
      border-radius: 4px;
      height: 23px;
      right: 0;
      padding: 0 5px;
      @include rem(11);
      line-height: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--bookmarks {
      position: relative;
      cursor: pointer;
      top: 0;
      box-shadow: none;
      border-radius: 4px;
      height: 23px;
      right: 0;
      padding: 0 5px;
      @include rem(11);
      line-height: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--user {
      transform: translate(-50%, -37px);

      &-img {
        width: 77px;
        height: 77px;

        .img-delete{
          padding-bottom: 35px;

          i{
            @include rem(41);
            color: #ffffff;
            margin-bottom: 19px;
          }

          span{
            font-style: normal;
            font-weight: 500;
            @include rem(12);
            line-height: 14px;
            color: #FFFFFF;
          }
        }
      }

      &-badge {
        height: 16px;
        padding: 0 9px;
        @include rem(10);
        line-height: 12px;
        transform: translate(-50%, 4px);

        @media all and (-ms-high-contrast: none) {
          line-height: 16px;
        }
      }
    }

    &--place {
      @include rem(12);
      line-height: 14px;
      display: inline-block;
      margin-top: 25px;

      i {
        @include rem(10);
      }
    }

    &--title {
      @include rem(16);
      line-height: 19px;
      padding-top: 9px;
    }

    &--subtitle {
      @include rem(12);
      line-height: 14px;
      padding-top: 9px;
      margin-bottom: 13px;
    }

    &--description {
      @include rem(12);
      line-height: 14px;
      padding-top: 13px;
      margin-bottom: 12px;
      position: relative;
      padding-bottom: 13px;

      &:before{
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 212px;
        height: 1px;
        background: #F6F6F6;
        border-radius: 11px;
        top: 0;
      }

      &:after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 212px;
        height: 1px;
        background: #F6F6F6;
        border-radius: 11px;
        bottom: 0;
      }
    }

    &--text {
      text-align: center;
      @include rem(14);
      line-height: 16px;
      margin-bottom: 6px;
    }
  }

  .social-icon{
    padding-top: 16px;
    position: relative;
    padding-bottom: 13px;

    &:before{
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 212px;
      height: 1px;
      background: #F6F6F6;
      border-radius: 11px;
      top: 0;
    }

    &:after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 212px;
      height: 1px;
      background: #F6F6F6;
      border-radius: 11px;
      bottom: 0;
    }

    .ic-vk {
      @include rem(13);
    }

    .ic-facebook {
      @include rem(15);
    }

    .ic-instagram {
      @include rem(17);
    }

    i {
      color: #A3A3A3;
    }

    a {
      i {
        color: #2F80ED;
      }
    }
  }

  .b-popover{

    &--view {
      top: 20px;
      width: 97px;
      padding: 5px 5px 6px;

      a {
        @include rem(10);
        line-height: 12px;
      }
    }
  }

  .accordion-control{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion-panel{
    padding-bottom: 23px;
    display: none;
  }

  .b-card{
    padding-bottom: 0;
    margin-bottom: 22px;

    &--badge{

      .ic-article{
        @include rem(26);
        right: 18px;
        bottom: 13px;
      }

      .ic-image{
        @include rem(29);
        right: 12px;
        bottom: 11px;
      }

      .ic-route{
        @include rem(28);
        right: 15px;
        bottom: 12px;
      }

      .ic-star{
        @include rem(24);
        right: 16px;
        bottom: 14px;
      }
    }

    &--data{
      right: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      justify-content: flex-end;
      @include rem(12);
      line-height: 14px;
      padding: 13px 0 0;
      z-index: 0;
      position: relative;

      i{
        @include rem(10);
        margin-right: 8px;
      }
    }

    &--body{
      padding: 12px 12px 20px;
      display: flex;
      flex-flow: wrap;
    }

    &--title{
      @include rem(16);
      line-height: 19px;
      margin-bottom: 4px;
    }

    &--subtitle{
      @include rem(10);
      line-height: 12px;
      margin-bottom: 4px;
      text-align: right;
    }

    &--description{
      @include rem(9);
      line-height: 14px;
      margin-bottom: 14px;
    }

    &--btn{
      width: auto;
      height: 27px;
      @include rem(12);
      line-height: 14px;
      padding: 0 14px;
    }

    .add-bookmark{
      width: 23px;
      margin-top: 0;

      &:before{
        @include rem(26);
      }
    }

    .statistic-comments{
      display: flex;
      padding-top: 12px;

      li{
        margin-right: 16px;
      }

      i{
        margin-right: 4px;
      }

      .ic-like{
        @include rem(15);
      }

      .ic-comment{
        @include rem(15);
      }

      span{
        @include rem(11);
        line-height: 13px;
      }

    }

    &.card-article{
      .b-card--head{
        height: 185px;
      }

      .b-card--badge{
        top: -19px;
        left: -16px;
        width: 68px;
        height: 68px;
      }

      .item-1{
        flex: 0 0 100%;
        width: 100%;
        order: 1;
      }

      .item-2{
        flex: 0 0 45%;
        width: 45%;
        order: 4;
      }

      .item-3{
        flex: 0 0 100%;
        width: 100%;
        order: 2;
      }

      .item-4{
        flex: 0 0 55%;
        width: 55%;
        order: 3;
      }
    }

    &.card-photo{

      .b-card--badge{
        top: -19px;
        left: -16px;
        width: 68px;
        height: 68px;
      }

      .b-card--title{
        margin-bottom: 14px;
      }

      .b-card--body{
        padding-bottom: 25px;
      }

      .item-1{
        flex: 0 0 100%;
        width: 100%;
        order: 1;
      }

      .item-2{
        flex: 0 0 45%;
        width: 45%;
        order: 3;
      }

      .item-4{
        flex: 0 0 55%;
        width: 55%;
        order: 2;
      }
    }

    &.card-route{
      .b-card--head{
        height: 185px;
      }

      .b-card--badge{
        top: -19px;
        left: -16px;
        width: 68px;
        height: 68px;
      }

      .item-1{
        flex: 0 0 100%;
        width: 100%;
        order: 1;
      }

      .item-2{
        flex: 0 0 45%;
        width: 45%;
        order: 4;
      }

      .item-3{
        flex: 0 0 100%;
        width: 100%;
        order: 2;
      }

      .item-4{
        flex: 0 0 55%;
        width: 55%;
        order: 3;
      }
    }

    &.card-review{
      .b-card--head{
        height: 185px;
      }

      .b-card--title{
        margin-bottom: 8px;
        span{
          display: block;
        }
      }

      .b-card--badge{
        top: -19px;
        left: -16px;
        width: 68px;
        height: 68px;
      }

      .item-1{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        order: 1;
      }

      .item-2{
        flex: 0 0 95px;
        width: 95px;
        order: 2;
      }

      .item-3{
        flex: 0 0 100%;
        width: 100%;
        order: 3;
      }

      .item-4{
        flex: 0 0 100%;
        width: 100%;
        order: 4;
      }
    }

    &--info-route{
      bottom: -8px;
      right: 0;

      .text{
        height: 14px;
        padding: 1px 7px 1px 5px;
        @include rem(10);
        line-height: 12px;
        top: -6px;
      }

      .circle{
        width: 34px;
        height: 34px;
      }
    }

    &--time-route{
      margin-right: 4px;

      .circle{
        i{
          @include rem(18);
        }
      }

    }

    &--distance-route{
      .circle{
        i{
          @include rem(20);
        }
      }
    }

    .card-route-bg{
      display: none;
    }

    .b-popover {
      display: block;

      &--view {
        left: 0;
        top: 100%;
        width: 280px;
        transform: translate(0, 0);

        span {
          @include rem(12);
          line-height: 14px;
        }
      }
    }

    .slider-counter{
      right: 12px;
      bottom: 10px;
      @include rem(8);
      line-height: 9px;
      padding: 2px 8px;
    }

    .all-rating{
      top: 0;
      margin-bottom: 9px;
    }

    .my-mark{
      &--circle{
        width: 34px;
        height: 34px;
        @include rem(14);
        line-height: 16px;
        background-size: 38px;
      }

      span{
        @include rem(9);
        line-height: 11px;
      }
    }

    .row{
      margin-left: -4px;
      margin-right: -4px;
    }

    .col,
    [class*="col-"]{
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .b-card-profile {
    margin-bottom: 26px;
  }

  .b-tabs {
    &--top{
      margin-bottom: 44px;
      flex-flow: wrap;
    }

    &--menu{
      width: 100%;
      flex: 0 0 100%;
      overflow-y: auto;
      position: relative;
      margin-bottom: 12px;

      &:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #C2C2C2;
        bottom: 7px;

      }
    }

    &--add{
      width: 147px;
      height: 32px;
      border-bottom: none;
      border-radius: 6px;
      margin: 0 auto;
      box-shadow: 0px 4px 14px rgba(173, 181, 184, 0.4);

      i{
        display: block;
        color: #FCBC17;
        margin-right: 3px;
      }

      span{
        line-height: 21px;
        @include rem(18);
        font-weight: 500;
        color: #FCBC17;
      }
    }

    &--nav{
      padding-right: 0;
      width: 100%;
      flex: 0 0 100%;
      overflow-y: auto;
      margin-bottom: 7px;

      &:before{
        display: none;
      }

      li{
        @include rem(16);
        line-height: 1.1;
        font-weight: normal;
        padding-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
        height: 42px;

        &.current{
          color: #FCBC17;
          @include rem(20);
          line-height: 1.1;
          font-weight: 500;
        }
      }
    }
  }

  .b-wrap{
    .row{
      margin-left: -2px;
      margin-right: -2px;
    }

    .col,
    [class*="col-"]{
      padding-left: 2px;
      padding-right: 2px;
      margin-bottom: 4px;
    }
  }

  .b-card-add{
    a{
      @include rem(14);
      line-height: 16px;
    }
  }
}


